.filtershow {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  justify-content: center;
  margin: 0 auto;
  /*margin-inline: 2rem;
    padding-inline: 2rem;*/
}
.filtershow > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filtershow > div:has(span) {
  font-size: 2.8rem;
  font-weight: 800;
  color: rgb(var(--color-gray-800));
  text-transform: capitalize;
}
.filtershow-container {
  display: flex;
  /*justify-content: center;*/
  /* gap: 5rem; */
  justify-content: center;
  align-items: end;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(var(--color-gray-900));
  margin-top: 5rem;
  gap: 4rem;
}
.filtershow-items {
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
}
.filtershow-element {
  display: flex;
  font-size: 1.6rem;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  & > div {
    padding-top: 1rem;
  }
  & > span {
    text-align: left;
    width: 100%;
  }
}
.input {
  /* border: white solid 0.5px; */
  border-radius: 6px;
  background: rgb(var(--color-background-100));
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.1),
    0 4px 4px rgba(var(--color-shadow-blue), 0.04);

  height: 3.2rem;
  width: 15rem;
}

.glass-icon {
  width: 100%;
  padding-left: 2rem;
  padding-top: 0.5rem;
  & * {
    height: 100%;
  }
  & svg {
    height: 1rem;
  }
}

.input-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & * {
    height: 100%;
  }

  & > :not(.focus) {
    padding-left: 2rem;
    color: rgb(var(--color-gray-500));
  }
  & path {
    filter: brightness(90%);
  }
  & svg {
    color: rgb(var(--color-background-200));
    stroke-width: 1;
  }
  & :nth-child(1) {
    padding-left: 1.6rem;
    margin-bottom: 1rem;
  }
  /*  & .select {
      margin-left: 1rem;
    } */
}

.focus {
  overflow: visible;
  color: rgb(var(--color-gray-700));
  font-weight: 500;
  width: 100%;
}

.options-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  padding-inline: 1rem;
  & svg {
    width: 100%;
  }
}

.input:focus-within > .search-options {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

.search-options {
  opacity: 0;
  position: sticky;
  margin-top: 1rem;
  visibility: hidden;
  /*margin-top: 3rem;*/
  top: 23rem;
  background: white;
  width: 15rem;
  border-radius: 6px;
  background: rgb(var(--color-background-100));
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.1),
    0 4px 4px rgba(var(--color-shadow-blue), 0.04);
}
.search-options-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search-options-wrapper > div:not(.search-options-title) {
  padding-left: 0.5rem;
}
.search-options-title {
  padding-left: 0;
}

.options-button {
  position: relative;

  &:focus-within .opt-menu {
    visibility: visible;
    opacity: 1;
  }
}

.opt-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 130%;
  right: -10%;
  width: 80rem;
  height: 20rem;
  background-color: rgb(var(--color-background-100));
  background: rgb(var(--color-background-100));
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.25),
    0 4px 4px rgba(var(--color-shadow-blue), 0.15);
  border-radius: 6px;
  transition: opacity 0.3s, visibility 0.3s ease-in-out;

  & .state-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    & > div {
      border: 0.5px solid black;
    }
  }
}
