/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* NAVBAR */

:root {
  --background-color: #2b2d42;
  --text: #81849e;
  --text-hover: #e8e8ee;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--background-color);
  width: 100%;
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.nav-bar a {
  color: var(--text);
  transition: 0.4s;
  cursor: pointer;
  font-weight: 900;
}
.nav-bar a:hover {
  color: var(--text-hover);
}
.nav-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}
.nav-bar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .nav-bar-links .logo{
   max-width: 100%;
   width: 100px;
   height: ;
} */
.nav-bar-links .logo {
  position: relative;
  padding-left: 100px;
}
.nav-bar-links .logo img {
  max-width: 100%;
  width: 6rem;
  height: auto;
  cursor: pointer;
}

.nav-bar-links .special-button a {
  background-color: #3577ff;
  border-radius: 5px;
  transition: box-shadow 0.6s ease, transform 0.2s ease-in-out;
  box-shadow: 0 0 0 rgba(8, 150, 230, 0.6);
  color: white;
  padding: 1rem;
}
.nav-bar-links .special-button a:hover {
  color: red;
}
/* .nav-bar-links .nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} */
/* .nav-bar-links .nav-bar ul li{

} */
