/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* NAVBAR */

:root {
  --background-color: #2b2d42;
  --text: #81849e;
  --text-hover: #e8e8ee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

section {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--background-color);

  width: 100%;
  height: 10%;
}
.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-bar > * {
  width: 33.3333%;
  display: flex;
  justify-content: center;
}

.nav-bar li {
  color: var(--text);
  transition: 0.4s;
  cursor: pointer;
  font-weight: 900;
}
.nav-bar li:hover {
  color: var(--text-hover);
}

.nav-bar > ul {
  gap: 1.5rem;
}

.nav-bar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

/* .nav-bar-links .logo{
   max-width: 100%;
   width: 100px;
   height: ;
} */

.nav-bar-links .logo img {
  max-width: 100%;
  width: 6rem;
  height: auto;
  cursor: pointer;
}

.special-container {
  position: relative;

  height: 100%;
  display: flex;
  align-items: center;
}

.special-container ul {
  width: 100%;
  position: absolute;
  display: flex;
  gap: 1rem;
}

.special-button {
  transition: all 0.25s ease-in-out;
  padding: 1rem;
  color: white;
}
.special-button:hover {
  background-color: #3577ff;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba(8, 150, 230, 0.6);
  color: var(--text-hover);
  transform: scale(1.1);
}

/* 
.special-button a,
li:hover {
  position: absolute;
  background-color: #3577ff;
  border-radius: 5px;
  transition: all 1s;
  box-shadow: 0 0 0 rgba(8, 150, 230, 0.6);
  color: white;
  width: 100%;
}
.special-button a:hover {
  color: red;
  transform: scale(1.5);
   font-size: 1.2rem; 
} 
*/
/* .nav-bar-links .nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} */
/* .nav-bar-links .nav-bar ul li{

} */
